.ant-layout-sider {
  height: 100%;

  &.border {
    border-right: 1px solid var(--keptdata-left-menu-right-border);
  }

  a {
    text-decoration: none; /* 取消下划线 */
  }

  a:hover {
    text-decoration: none; /* 鼠标划入时也取消下划线 */
  }

  .ant-layout-sider-children {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: #000;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .ant-menu {
      border-right: none;
      transition: all 0.2s linear;
      background-color: #000;
    }
  }
}

.ant-menu-item-icon {
  color: #fff !important;
}

.ant-menu-title-content {
  a {
    font-size: 18px;
    color: #fff;
    &:hover {
      color: #eee;
    }
  }
}

.ant-menu-inline .ant-menu-item-selected:after,
.ant-menu-inline .ant-menu-selected:after {
  display: none;
}
.ant-drawer-content{
  border-top-left-radius: .1056rem;
  border-bottom-left-radius: .1056rem;
}
.ant-menu-item{
  height: 50px !important;
  border-radius: 18px !important;
}
.ant-menu-item-selected {
  background-color: #fff !important;
  .ant-menu-item-icon {
    color: #000 !important;
  }
  a {
    color: #000 !important;
  }
}

.side-profile {
  height: 34%;
  background: #fafafa;
  padding: 0.0547rem 0.0586rem;
  border-radius: 0.0586rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
}

.side-profile .info img {
  width: 0.2734rem;
  height: 0.2734rem;
  border-radius: 50%;
  object-fit: cover;
}

.side-profile .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.1563rem;
}

.side-profile .info span {
  font-weight: bold;
  margin-top: 0.0586rem;
  font-size: 0.0781rem;
}

.side-profile .info p {
  font-size: 0.0703rem;
  color: #666869;
  margin: 0.0391rem 0 0.1172rem;
}

.side-profile .skills {
  text-align: center;
  font-size: 0.0781rem;
  .skill-tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.0704rem 0.0563rem;
    margin-top: 0.0704rem;
    padding: 0 0.0781rem;
  }
}

.side-profile .skills .skill-tags .item {
  padding: 0.0391rem;
  border-radius: 0.0156rem;
  background: #e7e7e7;
  font-size: 0.0625rem;
  font-weight: 500;
  color: #666869;
}

.side-profile .classify {
  font-size: 0.0781rem;
  a {
    display: inline-block;
    margin-top: 0.0781rem;
    width: 100%;
    padding: 0.0586rem;
    background: #111;
    color: #fafafa;
    border-radius: 0.0391rem;
    font-size: 0.0781rem;
    text-align: center;
  }
}
.net_title {
  font-size: 0.1406rem;
  font-weight: 500;
  color: #eee;
}

.container {
  position: fixed;
  top: 5px;
  right: 5px;
  padding: 0.1053rem 0.1563rem 0.0977rem 0.1363rem;
}

.sidebar-right-header {
  font-size: 0.1172rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.2113rem;
}

.sidebar-right-box {
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 0.0704rem;
  padding: 0.0704rem;
  margin-bottom: 0.2113rem;

  .sidebar-right-content {
    padding: 0.0586rem;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 0.1127rem;

    .classify {
      p {
        width: 1.4437rem;
        word-wrap: break-word;
        color: #000;
      }
      span,
      a {
        display: inline-flexbox;
        justify-content: center;
        align-items: center;
        border: 0.0078rem solid #000;
        padding: 0.0195rem;
        height: 0.1172rem;
        margin-right: 0.0391rem;
        border-radius: 0.0195rem;
        color: #111;
        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
      .btn_click {
        background-color: #000;
        color: #fff;
      }
    }
    .icon {
      margin-right: 0.0469rem;
    }
  }
}

.close-btn {
  background: none;
  border: none;
  font-size: 0.2113rem;
  width: 0.2817rem;
  height: 0.2817rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #f2f2f2;
  }
}

.container .nav .user-info {
  display: flex;
  align-items: center;
  gap: 0.0391rem;
}

.container .nav .user-info i {
  font-size: 0.2113rem;
  width: 0.3521rem;
  height: 0.3521rem;
  border-radius: 50%;
  background-color: #e7e7e7;
  text-align: center;
  line-height: 0.3521rem;
}
